
// mixins
@mixin background-gradient($direction, $start-color, $end-color) {
    background: $end-color;
    background: -webkit-linear-gradient($direction, $start-color, $end-color);
    background: linear-gradient($direction, $start-color, $end-color);
}