
// mixins
@mixin background-gradient($direction, $start-color, $end-color) {
    background: $end-color;
    background: -webkit-linear-gradient($direction, $start-color, $end-color);
    background: linear-gradient($direction, $start-color, $end-color);
}

// flex base
%flex-box-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

%flex-box-col {
    display: flex;
    flex-flow: column;
    align-items: center;
}
