// variables

// background palette
$primary-color: #cb2d3e;
$primary-light: #ef473a;
$secondary-color: #fbe9e7;
$secondary-light: rgb(233, 238, 238);

// color pallete
$main-text-color: rgba(10, 9, 8, 1);