@import 'main';
@import 'landing';
@import 'platforms';
@import 'knowspark';
@import 'footer';
@import 'contact';

// variables

// red color pallete
$primary-color: hsla(30%, 11%, 4%, 1);
$primary-red: hsla(348%, 62%, 18%, 1);
$secondary-red: hsla(358%, 71%, 43%, 1);
$secondary-grey: hsla(60%, 1%, 66%, 1);
$secondary-color: hsla(150%, 8%, 95%, 1);

$primary-color: rgba(10, 9, 8, 1);
$primary-red: rgba(73, 17, 28, 1);
$secondary-red: rgba(185, 32, 37, 1);
$secondary-grey: rgba(170, 170, 169, 1);
$secondary-color: rgba(242, 244, 243, 1);

/* body {
    display: flex;
    flex-flow: row;
    align-content: center;
    margin: auto;
    background-color: #f5f5f5;
} */
